 storm.zookeeper.servers:
{% for node in groups['zookeeper_hosts'] %}
    - "{{ hostvars[node].ipv6_addr }}"
{% endfor %}

{% for node in groups['pangu-redis'] %}
    nimbus.host: "{{ hostvars[node].ipv6_addr }}"
{% endfor %}
 storm.zookeeper.port: 2181
 storm.local.dir: "/opt/apache-storm-0.9.4/data"
 ui.port: 8080
